<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Hellfire Club</title>
    <meta name="description" content="" />
    <link href="{% static "helloworld/css/styles.css" %}" rel="stylesheet">
    <link href="{% static "helloworld/css/gradients.css" %}" rel="stylesheet">
</head>

<body class="">
    <div class="wrapper">
        <div class="graphics">
            <div class="tower">
                <img src="{% static "helloworld/img/ahnold.jpg" %}">
            </div>
        </div>

        <header>
            <nav class="website-nav">
                <ul>
                    <li><a class="home-link" href="https://aws.amazon.com/">Home</a></li>
                    <li><a href="https://www.facebook.com/cyrus.moghadassi">About Big Cyru</a></li>
                    <li><a href="https://aws.amazon.com/solutions/">Services</a></li>
                    <li><a href="https://aws.amazon.com/contact-us/">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div class="message">
            <a class="twitter-link" href="http://twitter.com/home/?status=I%20created%20a%20project%20with%20AWS%20CodeStar!%20%23AWS%20%23AWSCodeStar%20https%3A%2F%2Faws.amazon.com%2Fcodestar"><img src="{% static "helloworld/img/tweet.svg" %}" /></a>
            <div class="text">
                <h1>Welcome to the Hellfire Club</h1>
                <h2>Abandon hope all yee who enter here!</h2>
            </div>
        </div>
    </div>
    <footer>
        <p class="footer-contents">Designed and developed with <a href="https://aws.amazon.com/careers/devtools-jobs/">♥</a> in Seattle.</p>
    </footer>

    <! script src="{% static "helloworld/js/set-background.js" %}"><! /script>
</body>

</html>
