<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Hellfire Club</title>
    <meta name="description" content="" />
    <link href="{% static "hellfire-club/css/styles.css" %}" rel="stylesheet">
    <link href="{% static "hellfire-club/css/gradients.css" %}" rel="stylesheet">
</head>

<body class="">
    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    <li><a class="home-link" href="http://hellfire-clubapp.8qm6czuupn.us-west-2.elasticbeanstalk.com">Home</a></li>
                    <li><a href="https://www.facebook.com/cyrus.moghadassi">About Big Cyrus</a></li>
                    <li><a href="https://www.facebook.com/cyrus.moghadassi/">Services</a></li>
                    <li><a href="https://www.facebook.com/cyrus.moghadassi/">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="ahnold">
            <h1>Welcome to the Hellfire Club</h1>
            <h2>Abandon hope all yee who enter here!</h2>
        </div>
        <img src="{% static "hellfire-club/img/ahnold.jpg" %}">
    </div>
    <footer>
        <p class="footer-contents">Designed and developed with <a href="https://blogblimp.com/">♥</a> in Amazon's cloud.</p>
    </footer>

    <! script src="{% static "hellfire-club/js/set-background.js" %}"><! /script>
</body>

</html>
